.front-page {
  text-align: center;

  .masthead {
    background: url("../../assets/images/abovetheclouds.jpg") no-repeat center center/cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 229px;

    @include desktop {
      height: 800px;
      background-attachment: fixed;
    }
  }

  .self-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .self-description{
    width: 100%;

    p {
      margin-top: 0;
    }

    @include desktop {
      order: 2;
      width: 37%;
      margin: 0 2%;
    }
  }

  .headshot-container {
    @include desktop {
      order: 1;
      width: 29%;
    }
  }

  .headshot {
    height: 207px;
    border-radius: 12px;

    @include desktop {
      height: 380px;
    }
}

  .skillbar-container {
    width: 50%;

    @include desktop {
      order: 3;
      width: 29%;
      padding: 0 2%;
    }

    .skillbar {
      position:relative;
      display:block;
      margin-bottom:6px;
      width:100%;
      height:24px;
      border-radius:8px;
      transition:0.4s linear;
      transition-property:width, background-color;

      @include desktop {
        height: 40px;
        margin-bottom: 14px;
        border-radius: 14px;
      }
    }

    span {
      position:absolute;
      font-weight:bold;
      font-family:$font__accent;
      font-size:12px;
      color:#ffffff;
      display:block;
      padding:0 4px;
      line-height:20px;

      @include desktop {
        line-height: 36px;
        font-size: 1.4rem;
      }
    }

    .skillbar-bar {
      height:21px;
      width:0;
      border-radius:5px;

      @include desktop {
        height: 37px;
        border-radius: 10px;
      }
    }
  }

  .skillbar:first-child {
    border: 2px solid #228B1E;
  }

  .skillbar:nth-child(2) {
    border: 2px solid #2AA2AD;
  }

  .skillbar:nth-child(3) {
    border: 2px solid #1A6689;
  }

  .skillbar:nth-child(4) {
    border: 2px solid #531E8B;
  }

  .skillbar:nth-child(5) {
    border: 2px solid #951D16;
  }

  .skillbar:nth-child(6) {
    border: 2px solid #B97C17;
  }

  .skillbar:nth-child(7) {
    border: 2px solid #CBBF29;
  }

  .continue {
    margin-top: 2rem;

    p {
      margin-bottom: 0;
    }

    .fa-angle-double-down{
      font-size: 1.5rem;
    }
  }

  .image-break {
    background: url("../../assets/images/jerichosunset-fix.jpg") no-repeat center center/cover fixed;
    width: 100%;
    height: 229px;

    @include desktop {
      height: 650px;
    }
  }

  /* Bx Slider */
  .bx-wrapper{
    overflow: hidden;

    img {
      width: 100vw;
    }

    .bx-viewport {
      box-shadow: none;
      border: 0;
      left: 0;
      background: #fff;
      overflow: visible !important;
      margin-bottom: 4rem;

      @include desktop {
        overflow: hidden !important;
        margin-bottom: 0;
      }
    }

    .bx-controls-direction {

      a {
        text-indent: 0;
        top: 39%;

        @include desktop {
          top: 50%;
        }
      }

      i {
        color: black;
        font-size: 2rem;
      }
    }

    .bx-prev {
      background: none;
    }

    .bx-next {
      background: none;
    }

    li {
      position: relative;
    }

    a {


      div {
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 0;
        right: 0;
        color: #696969;


        @include desktop {
          display: none;
          background: rgba(0,0,0,0.6);
          padding: 20px;
          top: 0;
          color: #ddd;
        }
      }
    }

    a:hover div {
      @include desktop {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  .bxslider {
    margin:0 !important;

    li {
      @include desktop {
        margin-right: 2vw;
      }
    }

    li, img {
      width: 50vw !important;

      @include desktop {
        width: 23vw !important;
      }
    }
  }

  .contact {
    @include desktop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    h2 {
      @include desktop {
        width: 100%;
      }
    }
  }

  .contact-form {
    @include desktop {
      width: 45%;
    }
  }

  .wpcf7-form {
    text-align: left;

    .wpcf7-text,.wpcf7-email, textarea {
      border-radius: 8px;
      font-family: $font__accent;
      width: 100%;
      border: 2px solid #ccc;
    }

    .wpcf7-text, .wpcf7-email {
      @include desktop {
        width: 50%;
      }
    }

    textarea {
      height: 100px;
      resize: none;
    }
  }

  .socials {
    @include desktop {
      width: 45%;
    }
  }

  .icons-container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;

    a{
      text-decoration: none;
    }

    div {
      width: 43px;
      height: 43px;
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
      margin-bottom: 2rem;
      font-size: .8rem;
    }

    div:hover{
      border: none;
      color: white;
    }

    .linkedin:hover {
      background-color: #0077B5;
    }

    .twitter:hover{
      background-color: #55acee;
    }

    .at-symbol:hover {
      background-color: #66DAE0;
    }
  }
}