.main-navigation {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font__accent;
  color: white;
}

.fixed-nav {
  top: 0;
  background-color: rgba(0,0,0,0.8);
}

@media only screen and (min-width: 600px) {
  .fixed-nav.under-admin-bar {
    top: 46px;
  }
}

@media only screen and (min-width: 768px) {
  .fixed-nav.under-admin-bar {
    top: 32px;
  }
}

.header-name {
  margin: 0;
  font-size: 1.5rem;
  font-family: $font__accent;
}